:root {
	--background: #111111;
	--header-text: #00ff00;
	--blog-text: rgb(252, 212, 212);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.topbar {
	display: flex;
	background: linear-gradient(#510080, #510050);
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	border-bottom: 5px ridge #808080;
}

.topbar h1 {
	color: white;
	text-shadow: 3px 3px red;
	font-size: 30px;
	margin-left: 15px;
}

body {
	background-image: url("/images/star-background-1.gif");
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav a {
	color: white;
	text-decoration: none;
	padding: 5px;
	font-size: 20px;
	margin-right: 20px;
	border: 2px outset white;
	background: #510080;
}

nav a:hover {
	border-style: inset;
}

.layout {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	padding: 10px;
	display: grid; 
	grid-template-columns: 2fr 1fr;
	gap: 20px
}

img {
	display: block;
	margin: 30px auto;
	height: auto;
}

.hero {
	grid-column: span 2;
}

.card {
	background-color: var(--background);
	padding: 15px;
	border: 2px solid white;
}

.card h2 {
	color: var(--header-text);
	margin-bottom: 10px;
}

.card h3 {
	color: var(--blog-text);
}

.card p {
	color: white;
	line-height: 1.5;
}

.blog-entry {
	margin-bottom: 15px;
	margin-top: 15px;
	font-size: 20px;
}

.blog-entry a {
	text-decoration: none;
}

.blog-entry a:hover {
	text-decoration: underline;
	text-decoration-color: white;
}

.blog-text {
	text-align: left;
	font-size: 20px;
	margin-top: 20px;
}

.blog-entry h6 {
	color: white;
}

.personal {
	color: red;
}

.blog-part {
	text-align: center;
}

.back {
	display: block;
	margin-top: 10px;
	font-size: 25px;
	color: var(--blog-text);
	text-decoration: none;
}

footer {
	color: white;
	text-align: center;
	color: gray;
}

i {
	font-size: 35px;
	color: white;
	padding: 0 7px;
}
